<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" version="2.5">

  <display-name>XML parsers application</display-name>
  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<description></description>
  	<display-name>XMLParserServlet</display-name>
  	<servlet-name>XMLParserServlet</servlet-name>
  	<servlet-class>com.epam.xmltransforming.controller.XMLParserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>XMLParserServlet</servlet-name>
  	<url-pattern>/parser</url-pattern>
  </servlet-mapping>
</web-app>
