.addProductForm {
	width: 100%;
	display: inline-block;
}

.formButton {
	width: 89px;
	position: relative;
	left: 107px;
	margin-top: 10px;
}

.alertMessage {
	color: red;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

form {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.addButton {
}

.backButton {
	margin-top:10px;
}

.invalid {
	border: 2px solid red;
}

.popupMessage {
	display: none;
	z-index: 1;
	background-color: yellow;
	position: absolute; 
	margin-left: 100px;
	width: 200px;
	word-wrap: break-word;
}