html {
	min-height: 100%;
}
body {
	padding-left: 10%;
	padding-right: 10%;
	min-width: 600px;
}
a {
    margin-left: 16px;
    color: blue;
}

table{
    margin: 0px 10px 30px 20px;
    width: 97%;
}

ul {
	list-style-image: url(img/marker.png);
}

#titleanddate {
}
#newscontent {
	padding-top: 15px;
	padding-right: 90px;
	word-wrap: break-word;
}

#news {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 41px;
}

#page { /*��� �������� */
    border: 2px solid #333;
/*    min-height: 100%; */
    min-width: 900px;
}

#header { /* ������� ���� */
    background: #fff;
    padding: 20px;
    padding-left: 55px;
    border-bottom: 2px solid #333;
    color: mediumblue;
    font: 15pt Aharoni;
}

#listviewcheckbox {
	padding-top: 10px;
}

#changeLanguage { /* ���� ����� ����� */
    float: right;
    font:12pt Arial;
    font-weight: bolder;
    position: relative;
    bottom: 10px;
}

#footer { /* ������ ���� */
    background: #fff;
    padding: 1px;
    color: #333;
    clear: left;
    border-top: 2px solid #333;
    text-align: center;
}

#menu { /* ���� ����� */
    background: silver;
    float: left;
    border: 2px solid silver;
    min-width: 230px;
    max-width: 230px;
    margin: 10px 10px 20px 12px;
}

#menuname{ /* �������� ���� */
    float:right;
    background: gray;
    width: 90%;
    padding: 5px;
    text-align:  center;
    color: #fff;
    margin: 10px 0px 1px 0px;
}

#menulist { /* ������ �������� ���� */
    float:right;
    background: white;
    width: 80%;
    margin: 6px 5px 10px 0px;
    white-space: nowrap;
}

.menuref:hover { /* ��� ��������� �� ������ � ���� */
	color: darkorange;
}
.menuref:active {
	color: darkorange;
}

#content { /* ������ ���� */
    margin: 10px 5px 5px 260px;
    padding: 5px;
    border: 2px solid darkgray;
    min-height: 77vh;
    min-width: 300px;
    max-width: 800px;
}

#contentpath{
    float: top;
    padding: 5px 10px 10px 20px;
}

#column1 {
    width: 70%;
    display: inline-block;
    word-break: break-all;
}

#column2 {
    text-decoration: underline;
    text-align:  right;
    width: 23%;
    display: inline-block;
}

#listrefs {
	text-align: right;
	right: 20px;
	position: relative;
	text-decoration: none;
}
#listrefs a {
	text-decoration: none;
}
#textareaview {
    width: 85%;
    overflow: hidden;
    border: 0px;
    height:100px;
}

#deletebutton {
	margin: 20px 5px 0px 85%;
	width: 100px;
}

#viewtable{
    width: 90%;
    padding-left: 36px;
    padding-top: 10px;
}

#tableinfocolumn{
    width: 20%;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
    color: grey;
}

#titlerow {
}

#daterow {
	padding-top: 10px;
}

#contentrow {
	padding-top: 10px;
}

#briefrow {
	padding-top: 10px;
}

#titleview{
    width: 70%;
    border: 0px;
    display: inline-block;
    padding: 5px;
    word-break: break-all;
}
#dateview{
    width: 70%;
    display: inline-block;
    border: 0px;
    padding: 5px;
}
#briefview{
    width: 70%;
    display: inline-block;
    overflow: hidden;
    border: 0px;
    word-break: break-all;
    padding: 5px;
}

#editform {
	display: inline-block;
}

#deleteform {
	display: inline-block;
}

#contentview{
    width: 70%;
    display: inline-block;
    overflow: hidden;
    border: 0px;
    word-break: break-all;
    padding: 5px;
}

#viewbuttonsarea{
	display: -webkit-inline-box;
	position: relative;
    left: 70%;
    padding-top: 50px;
}

#editbuttonsarea{
	display:inline-block;
	padding-left: 50%;
}

#viewbuttons{
    width: 100px;
    position: relative;
    display: inline-block;
    left: 0px;
}

#cancelbutton{
	position: relative;
	display: inline-block;
	left: 20px;
	width: 100px;
}

#tableaddcol1{
    width: 10%;
    padding: 5px;
    vertical-align: top;
}

.textedittitle{
	width: 300px
}
.textareaeditbrief{
	width: 300px;
    height: 100px;
    overflow: scroll;
    font: inherit;
}

.textareaeditcontent{
	width: 300px;
	height: 200px;
	overflow: scroll;
	font: inherit;
}

#titleeditrow {

}

#dateeditrow {

}

#briefeditrow {

}

#contenteditrow {

}

#titleeditcolumn {
	display: inline-block;
	width: 70%;
	padding: 5px;
}

#dateeditcolumn {
	display: inline-block;
	width: 70%;
	padding: 5px;
}

#briefeditcolumn {
	display: inline-block;
	width: 70%;
	padding: 5px;
}

#contenteditcolumn {
	display: inline-block;
	width: 70%;
	padding: 5px;
}

#addcolumn1 {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	color: grey;
	padding: 5px;
}

#newsedittable {
	width: 90%;
	padding-left: 36px;
	padding-top: 10px;
}

#contentpathlink {
	color: grey;
}